@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "JetBrains Mono";
  font-size: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin: 0;
}

h1 {
  font-family: "JetBrains Mono";
  font-size: 2.5rem;
  border: 1px solid black;
  box-shadow: 0 4px 0 rgb(5, 56, 5);
  padding: 0.5rem 3rem;
  background-color: #034c3c;
  color: #f0e6ef;
  text-align: center;
}

main {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  margin-top: 5rem;
}

.logo img {
  width: 100%;
  height: auto;
}

.buttons {
  position: absolute;
  top: 80%;
  right: 5%;
}

.buttons a {
  text-decoration: none;
}

.go {
  font-family: "JetBrains Mono";
  border: 2px solid #1b4332;
  width: 3rem;
  height: 1.8rem;
  cursor: pointer;
  background-color: #1b4332;
  color: #f0e6ef;
  outline: none;
}

.stop {
  font-family: "JetBrains Mono";
  border: 2px solid #93032e;
  width: 3rem;
  height: 1.8rem;
  cursor: pointer;
  background-color: #93032e;
  color: #f0e6ef;
  outline: none;
}

.back {
  font-family: "JetBrains Mono";
  border: 2px solid #1b4332;
  width: 3rem;
  height: 1.8rem;
  cursor: pointer;
  background-color: #1b4332;
  color: #f0e6ef;
  outline: none;
}

/* Options Script */

.countDown_cont {
  font-family: "JetBrains Mono";
  font-size: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  color: #93032e;
  padding-top: 2rem;
}

.countDown_interval_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: auto;
}

.countDown_interval_cont:nth-child(n + 1):not(:last-child) {
  margin-right: 10em;
}

.countDown_interval_basic_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.countDown_interval_basic_cont_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
  color: #cdd5d8;
  text-shadow: 0.1em 0.1em 0.1em #000000;
}

.countDown_digit_cont {
  -webkit-perspective: 3.2em;
  perspective: 3.2em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
  width: 1em;
  height: 1.6em;
  position: relative;
  line-height: 1.6em;
  font-size: 5em;
  font-weight: bold;
  border-radius: 0.08em;
}

.countDown_digit_cont:nth-child(n + 1):not(:last-child) {
  margin-right: 0.3em;
}

.countDown_digit_last_placeholder,
.countDown_digit_new_placeholder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  overflow: hidden;
}

.countDown_digit_last_placeholder {
  bottom: 0;
  background: #cdd5d8;
  border-radius: 0 0 0.08em 0.08em;
}

.countDown_digit_last_placeholder_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 50%;
  position: absolute;
}

.countDown_digit_new_placeholder {
  top: 0;
  background: #cdd5d8;
  border-radius: 0.08em 0.08em 0 0;
}

.countDown_digit_last_rotate,
.countDown_digit_new_rotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-weight: bold;
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  border-radius: 0.08em 0.08em 0 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.countDown_digit_last_rotate:after,
.countDown_digit_new_rotate:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.01em solid rgba(0, 0, 0, 0.1);
}

.countDown_digit_last_rotate {
  -webkit-animation-name: countDown_flip_1;
  animation-name: countDown_flip_1;
  background: #cdd5d8;
}

.countDown_digit_new_rotate {
  -webkit-animation-name: countDown_flip_2;
  animation-name: countDown_flip_2;
  background: #cdd5d8;
}

.countDown_digit_new_rotated {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 100%;
  height: 100%;
}

.countDown_digit_new_rotated_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 50%;
  position: absolute;
}
@-webkit-keyframes countDown_flip_1 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 1;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    z-index: 0;
  }
}

@keyframes countDown_flip_1 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 1;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    z-index: 0;
  }
}

@-webkit-keyframes countDown_flip_2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 0;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    z-index: 1;
  }
}

@keyframes countDown_flip_2 {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 0;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    z-index: 1;
  }
}

/* Fin Options Script */

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin: auto;
  justify-content: center;
}

.minilogo {
  flex: 1;
}

.minilogo img {
  width: 8rem;
  height: auto;
}

.signature {
  flex: 2;
}

.footer-links {
  justify-content: space-around;
  list-style: none;
  text-align: right;
  margin-top: 2rem;
  padding: 0 2rem 0 2rem;
}

.footer-link {
  font-family: "JetBrains Mono";
  color: #5f5f79;
  font-size: 0.9rem;
  text-decoration: none;
  line-height: 1.8rem;
}

.footer-link:hover {
  font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 765px) {
  .buttons {
    top: 80%;
  }
  .go {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
  }
  .stop {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
  }
  .back {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
  }
  .countDown_cont {
    font-family: "JetBrains Mono";
    font-size: 8px;
    padding-top: 3rem;
  }

  .countDown_interval_basic_cont_description {
    margin-top: 0.3em;
    font-size: 2.5em;
  }
  .minilogo img {
    width: 6.3rem;
    height: auto;
  }
  .footer-link {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .buttons {
    top: 75%;
  }
  .go {
    width: 4.3rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  .stop {
    width: 4.3rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  .back {
    width: 4.3rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  .countDown_cont {
    font-family: "JetBrains Mono";
    font-size: 15px;
    padding-top: 3rem;
  }

  .countDown_interval_basic_cont_description {
    margin-top: 0.3em;
    font-size: 3em;
  }
  .minilogo img {
    width: 12rem;
    height: auto;
  }
  .footer-link {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1299px) {
}
@media screen and (min-width: 1300px) {
}

@media (orientation: landscape) and (min-width: 400px) and (max-width: 735px) {
  .buttons {
    top: 80%;
  }
  .go {
    width: 2rem;
    height: 1rem;
    font-size: 0.6rem;
  }
  .stop {
    width: 2rem;
    height: 1rem;
    font-size: 0.6rem;
  }
  .back {
    width: 2rem;
    height: 1rem;
    font-size: 0.6rem;
  }
  .countDown_cont {
    font-family: "JetBrains Mono";
    font-size: 5px;
    padding-top: 3rem;
  }

  .countDown_interval_basic_cont_description {
    margin-top: 0.3em;
    font-size: 1.8em;
  }
  .minilogo img {
    width: 4rem;
    height: auto;
    margin-top: 12px;
  }
  .footer-link {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}

@media (orientation: landscape) and (min-width: 736px) and (max-width: 1024px) {
  .buttons {
    top: 85%;
  }
  .go {
    width: 2.5rem;
    height: 1.2rem;
    font-size: 0.7rem;
  }
  .stop {
    width: 2.5rem;
    height: 1.2rem;
    font-size: 0.7rem;
  }
  .back {
    width: 2.5rem;
    height: 1.2rem;
    font-size: 0.7rem;
  }
  .countDown_cont {
    font-family: "JetBrains Mono";
    font-size: 6px;
    padding-top: 3rem;
  }

  .countDown_interval_basic_cont_description {
    margin-top: 0.3em;
    font-size: 1.8em;
  }
  .minilogo img {
    width: 5rem;
    height: auto;
  }
  .footer-link {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1365px) {
  .buttons {
    top: 83%;
  }
  .go {
    width: 4rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }
  .stop {
    width: 4rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }
  .back {
    width: 4rem;
    height: 2.3rem;
    font-size: 1.3rem;
  }
  .countDown_cont {
    font-family: "JetBrains Mono";
    font-size: 10px;
    padding-top: 3rem;
  }

  .countDown_interval_basic_cont_description {
    margin-top: 0.3em;
    font-size: 3em;
  }
  .minilogo img {
    width: 8rem;
    height: auto;
  }
  .footer-link {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1366px) and (max-width: 1500px) {
  .buttons {
    top: 85%;
  }
  .go {
    width: 4.3rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  .stop {
    width: 4.3rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  .back {
    width: 4.3rem;
    height: 2.8rem;
    font-size: 1.5rem;
  }
  .countDown_cont {
    font-family: "JetBrains Mono";
    font-size: 14px;
    padding-top: 3rem;
  }

  .countDown_interval_basic_cont_description {
    margin-top: 0.3em;
    font-size: 3em;
  }
  .minilogo img {
    width: 10rem;
    height: auto;
  }
  .footer-link {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
